#video-downloader {
  margin-top: 1em;

  button,
  .message-board {
    background-color: white;
    color: black;
  }

  button {
    border-color: black;
    padding: 0.5em;
    border-radius: 0.2em;
    cursor: not-allowed;

    &.download {
      cursor: pointer;
      transition: all 0.4s ease;

      &:hover {
        background-color: darkgray;
      }
    }

    &.checking {
    }

    &.scheduled {
    }

    &.completed {
      cursor: pointer;
    }
  }

  .message-board {
    font-size: 12px;
    margin-left: 1em;
    padding: 0.5em;
    border-radius: 0.2em;
    border: black solid 0.25em;
  }
}

.toast {
  position: fixed;
  top: 1em;
  right: 1em;
  color: white !important;
  padding: 1em;
  font-weight: bold;
  border-radius: 0.5em;
  border: none;
  max-width: 30em;
  z-index: 2147483647; // Max z-index value to ensure the element is always on top
  animation:
    fadein 0.5s,
    fadeout 0.5s 2.5s;

  @keyframes fadein {
    from {
      opacity: 0;
      transform: translateX(100%);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeout {
    from {
      opacity: 1;
      transform: translateX(0);
    }

    to {
      opacity: 0;
      transform: translateX(100%);
    }
  }

  &.success {
    background: green;
  }

  &.error {
    background: red;
  }

  &.info {
    background: dodgerblue;
  }

  &.warning {
    background: orange;
  }
}
